header {
    background-color: #039BE5 !important;
    font-size: 20px;
    font-weight: 300;
    padding-left: 50px;
    margin-top: 0px;
    
}

header p{
    color: white;
}

header li {
    display: inline-block;
    margin-left: 15px;
}

header ul {
    padding: 0px;
    margin: 0px;
}